mixin navDropdownItem(src, title, href="#")
    a.nav-dropdown__item(href=href)
        picture
            source(srcset=`${src}.webp`, type="image/webp")
            img.nav-dropdown__img(src=`${src}.png`, alt=title)
        span.nav-dropdown__title=title

mixin navMobileItem(src, title, href="#")
    a.mobile-menu-dropdown__item(href=href)
        picture
            source(srcset=`${src}.webp`, type="image/webp")
            img.mobile-menu-dropdown__img(src=`${src}.png` alt=title)
        span.mobile-menu-dropdown__title=title

header.header
    .header-container.container
        .mobile-menu
            #hamburger.hamburger
                .hamburger__top
                svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='64px' height='64px' viewBox='0 0 64 64' enable-background='new 0 0 64 64' xml:space='preserve')
                    path#circle(fill='none' stroke-width='4' stroke-miterlimit='10' d='M16,32h32c0,0,11.723-0.306,10.75-11 c-0.25-2.75-1.644-4.971-2.869-7.151C50.728,7.08,42.767,2.569,33.733,2.054C33.159,2.033,32.599,2,32,2C15.432,2,2,15.432,2,32 c0,16.566,13.432,30,30,30c16.566,0,30-13.434,30-30C62,15.5,48.5,2,32,2S1.875,15.5,1.875,32')
                .hamburger__bottom
            nav#mobile-nav.mobile-menu__nav
                .mobile-menu__item
                    a.mobile-menu__link(href="#") Vehicle
                .mobile-menu__item
                    a.mobile-menu__link.js-show-dropdown(href="#")
                        | Shop
                        +icon("arrow-down", "nav__link-icon")
                    .mobile-menu-dropdown
                        .mobile-menu-dropdown__content
                            +navMobileItem("img/content/shop/towing_capacity", "Towing Capacity")
                            +navMobileItem("img/content/shop/mpg", "Mpg")
                            +navMobileItem("img/content/shop/interior", "Interior")
                            +navMobileItem("img/content/shop/weight", "Weight")
                            +navMobileItem("img/content/shop/0-60", "0-60")
                            +navMobileItem("img/content/shop/hp", "Hp")
                            +navMobileItem("img/content/shop/engine", "Engine")
                            +navMobileItem("img/content/shop/dimensions", "Dimensions")
                            +navMobileItem("img/content/shop/gas_tank", "Gas Tank")
                            +navMobileItem("img/content/shop/ground_clearance", "Ground Clearance")
                .mobile-menu__item
                    a.mobile-menu__link.js-show-dropdown(href="#")
                        | Our story
                        +icon("arrow-down", "nav__link-icon")
                    .mobile-menu-dropdown
                        .mobile-menu-dropdown__content
                            +navMobileItem("img/content/our_story/owners_manual", "Owner's manual")
                            +navMobileItem("img/content/our_story/fuses", "Fuses")
                            +navMobileItem("img/content/our_story/bulbs_list", "Bulbs list")
                            +navMobileItem("img/content/our_story/tire_size", "Tire size")
                            +navMobileItem("img/content/our_story/wheel_size", "Wheel size")
                            +navMobileItem("img/content/our_story/oil_capacity", "Oil capacity")
                            +navMobileItem("img/content/our_story/wiper_sizes", "Wiper sizes")
                            +navMobileItem("img/content/our_story/steering_wheel_sizes", "Steering wheel sizes")
                            +navMobileItem("img/content/our_story/mods", "Mods")
                .mobile-menu__item
                    a.mobile-menu__link(href="#") About
                .mobile-menu__item
                    a.mobile-menu__link(href="#") Contacts
                form.mobile-menu-search
                    input.search-form__field.js-search-matches(type="text", autocomplete="off", data-url="/match-titles/" data-list="js-search-mobile-list")
                    .mobile-menu-search__matches.js-search-mobile-list
                    button.mobile-menu-search__btn
                        +icon("search", "mobile-menu-search__icon")
        a.logo(href="index.html")
            span.logo__img(style="background-image: url(img/general/logos/landrover.svg)")
            span.logo__text Landrover
        .header-block
            nav.nav
                .nav__item
                    a.nav__link(href="#") Vehicle
                .nav__item
                    a.nav__link(href="#")
                        | Shop
                        +icon("arrow-down", "nav__link-icon")
                    .nav-dropdown
                        +navDropdownItem("img/content/shop/towing_capacity", "Towing Capacity")
                        +navDropdownItem("img/content/shop/mpg", "Mpg")
                        +navDropdownItem("img/content/shop/interior", "Interior")
                        +navDropdownItem("img/content/shop/weight", "Weight")
                        +navDropdownItem("img/content/shop/0-60", "0-60")
                        +navDropdownItem("img/content/shop/hp", "Hp")
                        +navDropdownItem("img/content/shop/engine", "Engine")
                        +navDropdownItem("img/content/shop/dimensions", "Dimensions")
                        +navDropdownItem("img/content/shop/gas_tank", "Gas Tank")
                        +navDropdownItem("img/content/shop/ground_clearance", "Ground Clearance")
                .nav__item
                    a.nav__link(href="#")
                        | Our story
                        +icon("arrow-down", "nav__link-icon")
                    .nav-dropdown
                        +navDropdownItem("img/content/our_story/owners_manual", "Owner's manual")
                        +navDropdownItem("img/content/our_story/fuses", "Fuses")
                        +navDropdownItem("img/content/our_story/bulbs_list", "Bulbs list")
                        +navDropdownItem("img/content/our_story/tire_size", "Tire size")
                        +navDropdownItem("img/content/our_story/wheel_size", "Wheel size")
                        +navDropdownItem("img/content/our_story/oil_capacity", "Oil capacity")
                        +navDropdownItem("img/content/our_story/wiper_sizes", "Wiper sizes")
                        +navDropdownItem("img/content/our_story/steering_wheel_sizes", "Steering wheel sizes")
                        +navDropdownItem("img/content/our_story/mods", "Mods")
                .nav__item
                    a.nav__link(href="#") About
                .nav__item
                    a.nav__link(href="#") Contacts
                span.nav__link-hover
            .search
                +icon("search", "search-icon js-show-search-form")
                form.search-form
                    +icon("close", "search-form__close js-hide-search-form")
                    input.search-form__field.js-search-matches(type="text", autocomplete="off", data-url="/match-titles/" data-list="js-search-mathes-list")
                    .search-form-matches.js-search-mathes-list
                    button.search-form__btn
                        +icon("search", "search-form__loupe")