mixin acessoriesSlide (src, title, price)
  .catalog__product 
    a.catalog__product-img(href="")
      picture
        source(srcset=`${src}.avif`, type="image/avif")
        source(srcset=`${src}.webp`, type="image/webp")
        img(src=`${src}.jpg`, alt=title)
    .catalog__product-body
      h6.catalog__product-title=title 
      span.catalog__product-price=price
        span msrp <sup>*</sup>
    .catalog__product-footer 
      .catalog__product-footer-item
        a.catalog__product-link-details(href="") View Details

mixin catalogProductSlide(src, alt, text, price, miles, percent, l, ar, bgExt, bgExtText, bgInt, bgIntText, locationText)
  .catalog__product 
    a.catalog__product-img(href="")
      picture
        source(srcset=`${src}.avif`, type="image/avif")
        source(srcset=`${src}.webp`, type="image/webp")
        img(src=`${src}.jpg`, alt=alt)
    .catalog__product-header 
      span.catalog__product-text=text
      h6.catalog__product-title 
        span=price
        span=miles
        span=percent
    .catalog__product-body 
      .catalog__product-info
        span=l
        span=ar
      .catalog__product-list 
        .catalog__product-list-item
          span.catalog__product-color(style=`background: ${bgExt}`)
          span.catalog__product-text=bgExtText
        .catalog__product-list-item 
          span.catalog__product-color(style=`background: ${bgInt}`)
          span.catalog__product-text=bgIntText
        .catalog__product-list-item 
          +icon("location", "catalog__product-icon-location")
          span.catalog__product-text=locationText
      a.btn(href="") View Details
    .catalog__product-footer
      .catalog__product-footer-item
        button.catalog__product-btn-contact-dealer Contact Dealer
      .catalog__product-footer-item
        a.catalog__product-link-carfax(href="")
          img(src="img/general/icons/carfaxlogo.svg" alt="")
      .catalog__product-footer-item
        button.catalog__product-btn-favorite
          +icon("favorite", "catalog__product-icon-favorite")
          | Favorite

section.section-middle 
  .container 
    h2.page-title Accessories
    .subtabs 
      .subtabs-nav 
        button.subtab-nav__btn.active.js-subtab-nav(data-tab="#exterior") Exterior
        button.subtab-nav__btn.js-subtab-nav(data-tab="#interior") Interior
        button.subtab-nav__btn.js-subtab-nav(data-tab="#how-to-buy") How to Buy
      .subtabs-content
        .subtab-content.active.js-subtab-content#exterior
          .catalog-line-slider
            .preview-slider__navigation
              button.preview-slider__btn.preview-slider__btn--prev
                +icon("arrow-left", "preview-slider__arrow")
              button.preview-slider__btn.preview-slider__btn--next
                +icon("arrow-right", "preview-slider__arrow")
            .js-catalog-line-slider 
              +acessoriesSlide("img/content/accessories/exterior/PT226-42210-12", "Blackout Emblem Overlay - TRD Off Road & Adventure", "$45")
              +acessoriesSlide("img/content/accessories/exterior/PT278-42191", "Blackout Emblem Overlay", "$45")
              +acessoriesSlide("img/content/accessories/exterior/PT278-42192", "Blackout Emblem Overlays - XLE", "$110")
              +acessoriesSlide("img/content/accessories/exterior/PT413-42191", "Blackout Emblem Overlays - XLE AWD", "$110")
              +acessoriesSlide("img/content/accessories/exterior/PT413-42200-02", "Blackout Emblem Overlays - LE", "$110")
              +acessoriesSlide("img/content/accessories/exterior/PT747-42210-02", "Blackout Emblem Overlays - Limited Model", "$110")
              +acessoriesSlide("img/content/accessories/exterior/PT747-42211-02", "Black Lower Body Graphics", "$140")
              +acessoriesSlide("img/content/accessories/exterior/PT938-42210", "Front Headlight Graphic - Black", "$140")
              +acessoriesSlide("img/content/accessories/exterior/PTN59-00225", "Yakima SlimShady 6.5' Lightweight Roof M", "$389")
              
        .subtab-content.js-subtab-content#interior
          .catalog-line-slider
            .preview-slider__navigation
              button.preview-slider__btn.preview-slider__btn--prev
                +icon("arrow-left", "preview-slider__arrow")
              button.preview-slider__btn.preview-slider__btn--next
                +icon("arrow-right", "preview-slider__arrow")
            .js-catalog-line-slider 
              +acessoriesSlide("img/content/accessories/interior/PT908-42200-20", "All-Weather Floor Liners for TRD Off-Road RAV4 Models", "$179")
              +acessoriesSlide("img/content/accessories/interior/PT908-42215-20", "All-Weather Floor Liners", "$179")
              +acessoriesSlide("img/content/accessories/interior/missing-part-img", "Brochure for Alloy Wheel Locks", "$0.99")
              +acessoriesSlide("img/content/accessories/interior/PT347-42190", "Cargo Net - Spider", "$45")
              +acessoriesSlide("img/content/accessories/interior/missing-part-img", "Go Rhino Xventure Gear - Recovery Bag : Associated Accessory Products (AAP)", "$145.13")
              +acessoriesSlide("img/content/accessories/interior/missing-part-img", "Go Rhino Xventure Gear - Recovery Bag - Large : Associated Accessory Products (AAP)", "$280.31")
              +acessoriesSlide("img/content/accessories/interior/PT427-00120", "Cargo Tote - Black", "$60")
              +acessoriesSlide("img/content/accessories/interior/PT908-42203-02", "Cargo Liner for TRD Off-Road RAV4", "$130")
              +acessoriesSlide("img/content/accessories/interior/PT908-42210-02", "Cargo Liner - Bl", "$130")
        .subtab-content.js-subtab-content#how-to-buy
          p Your Toyota dealer is the best place to buy accessories to help make sure that you are getting the right equipment for your specific vehicle. And with many parts in inventory, the dealership can help make your buying process quick and easy.
          a.btn(href="") Find a Dealer